@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500&display=swap");
.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: 700; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px;
  margin-bottom: 30px; }

h4 {
  font-size: 14px; }

a {
  text-decoration: none;
  color: #E3CDB1; }

input {
  background-color: transparent;
  outline: none;
  border: none; }

button {
  position: relative;
  display: block;
  appearance: none;
  border: 2px solid #E3CDB1;
  color: #E3CDB1;
  outline: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer; }
  button::after {
    padding: 10px 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #E3CDB1;
    color: white;
    cursor: pointer;
    content: attr(data-title);
    transition: clip-path 0.3s ease-in-out;
    clip-path: inset(0% 100% 0% 0%); }
  button:hover::after {
    clip-path: inset(0% 0% 0% 0%); }

.gray-text {
  color: #D0D0D0; }

section {
  padding: 40px 0; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

header {
  background-color: white;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 1; }

header .content {
  display: flex;
  justify-content: space-between; }
  header .content .nav {
    display: flex;
    justify-content: space-between;
    width: 225px; }
    header .content .nav > * {
      color: #9B9B9B; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

.hero {
  background-image: url(img/cake.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 800px;
  position: relative; }
  .hero-grid {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero-text {
    width: 550px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px; }
  .hero-seemore {
    font-size: 24px; }

.kicker {
  color: #E3CDB1;
  font-size: 16px; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

.recipe-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px; }

.recipe {
  width: calc(33.333333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05); }

.recipe-image {
  max-width: 100%; }

.recipe-footer {
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 25px; }

.recipe-month {
  flex: 0 100%; }

.recipe-title {
  font-size: 22px;
  flex: 1; }

.see-more {
  height: 30px;
  border-bottom: 1px solid #D0D0D0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .see-more .content {
    padding: 0 40px;
    background-color: white; }

.recipe-month {
  font-weight: 300;
  color: #9B9B9B;
  font-size: 14px; }

.recipe-section {
  position: relative;
  overflow: hidden; }
  .recipe-section::before {
    display: block;
    content: "";
    background: #FAFAFA;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0%; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

.newsletter {
  height: 340px;
  background-color: #000000;
  padding-bottom: 130px; }
  .newsletter-content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%; }
  .newsletter-subsribe {
    background-color: #000000; }
  .newsletter-email {
    max-width: 300px;
    display: flex;
    flex-direction: column; }
  .newsletter-email > label {
    font-size: 14px; }
  .newsletter-field {
    border-bottom: 1px solid #525252;
    color: white;
    font-size: 22px;
    font-family: 'Playfair Display';
    padding: 5px 0; }
  .newsletter-field::placeholder {
    color: #525252; }
  .newsletter-field:focus {
    border-bottom: 1px solid #E3CDB1; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

footer {
  background-color: #F2F2F2;
  padding: 30px 0;
  text-align: center; }
  footer .footer-text {
    font-size: 18px;
    margin-bottom: -20px;
    margin-top: 100px; }
  footer .icon {
    margin: 10px; }
  footer .bar {
    background-color: #EEEEEE;
    height: 2px;
    margin-top: 60px; }
  footer .icon-fill {
    border: 1px solid #E3CDB1;
    border-radius: 50%;
    padding: 10px; }
  footer .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -20px; }
  footer .logo {
    vertical-align: middle; }
  footer .website-url {
    color: #D0D0D0;
    font-size: 14px;
    margin-bottom: 30px; }

.container, article, header .content, .hero-grid, .see-more, .newsletter-content, footer .bar {
  margin: 0 auto;
  max-width: 1290px; }

.book-content {
  margin-left: 8.33333333%;
  margin-right: 8.3333333%;
  display: flex;
  align-items: stretch;
  justify-content: space-between; }

.book-info {
  /*margin-left: 8.333%;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
  justify-content: space-between; }

.book-wrapper {
  width: 100%; }

.book-img {
  max-width: 440px; }

.yam-image {
  max-width: 100%; }
