@import './config';

.book-announcement {
  background: $light-gold;
}

.book-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 8.33333333%;
  margin-right: 8.3333333%;
}

.book-info {
  /* margin-left: 8.333%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 550px;

  p {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.book-wrapper {
  width: 100%;
}

.book-img {
  box-shadow: -15px 15px 0 rgba(0, 0, 0, 0.05);
  max-width: 440px;
  transform: translateY(75px);
}

.yam-image {
  max-width: 100%;
}

@media (max-width: 599px) {
  .book-content {
    flex-direction: column;
    text-align: center;
  }
}
