// COLORS
$gold: #e3cdb1;
$light-gold: #f7f1eb;
$charcoal: #525252;
$dark-grey: #5e5b69;
$grey: #9b9b9b;
$light-grey: #d0d0d0;
$grey-bg: #fafafa;
$black: #000;
$white: #fff;
$gray95: #f2f2f2;
$whisper: #eee;
$white-95: #fff;

$max-width: 1290px;

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 15px;
}

@mixin background-stripe($color, $top-offset, $bottom-offset) {
  overflow: hidden;
  position: relative;

  &::before {
    background: $color;
    bottom: $bottom-offset;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: $top-offset;
    z-index: -1;
  }
}
