@import './config';

footer {
    background-color:$gray95;
    padding: 30px 0;
    text-align: center;
    .footer-text {
        font-size:18px;
        margin-bottom: -20px;
        margin-top: 100px;
    }
    .icon {
        margin: 10px;
    }
    .bar {
        @extend .container;
        background-color:$whisper;
        height: 2px;
        margin-top: 60px;
        
    }
    .icon-fill {
        border: 1px solid $gold;
        border-radius: 50%;
        padding: 10px;    
    }
    .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -20px;
    }
    .logo {
        vertical-align: middle;
    }
    .website-url {
        color: $light-grey;
        font-size: 14px;
        margin-bottom: 30px;
    }
}