@import './config';
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h4 {
  font-size: 14px;
}

a {
  color: $gold;
  text-decoration: none;
}

input {
  background-color: transparent;
  border: 0;
  outline: none;
}

hr {
  @extend .container;

  background-color: $whisper;
  border: 0;
  display: none;
  height: 2px;
  margin-top: 60px;
}

button {
  appearance: none;
  background: transparent;
  border: 1px solid $gold;
  color: $gold;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  padding: 10px 30px;
  position: relative;
  width: 250px;

  &::after {
    background: $gold;
    bottom: 0;
    clip-path: inset(0% 100% 0% 0%);
    color: $white;
    content: attr(data-title);
    cursor: pointer;
    left: 0;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: clip-path 0.3s ease-in-out;
  }

  &:hover::after {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.gray-text {
  color: $light-grey;
}

article {
  @extend .container;
}

section {
  padding: 40px 0;
}

@media (max-width: 599px) {
  button {
    width: 190px;
  }
}
