@import './config';

header {
  background-color: $white;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .content {
  @extend .container;

  display: flex;
  justify-content: space-between;
}

header .content .nav {
  display: flex;
  justify-content: space-between;
  width: 225px;

  > * {
    color: $grey;
  }
}

header .content .burger {
  cursor: pointer;
  display: none;
}

.menu {
  align-items: center;
  display: none;
  flex-direction: column;

  h1 {
    font-size: 90px;
  }

  a {
    color: $black;
  }
}

@media (max-width: 599px) {
  header .content .nav {
    display: none;
  }

  header .content .burger {
    display: block;
  }

  .menu {
    display: flex;
  }

  .menu.hidden {
    display: none;
  }
}
