@import './config';

.ingredients {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-right: 200px;
}

.ingredient {
  color: $grey;
  font-weight: 300;
  margin-bottom: 40px;
}

.numberof {
  color: $gold;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  margin-right: 50px;
}

.method {
  @extend .container;

  display: flex;

  h3 {
    color: $light-grey;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 70px;
  }
}

.recipe-detail {
  color: $dark-grey;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.recipe-detail p {
  margin-bottom: 64px;
}

@media (max-width: 599px) {
  .ingredients {
    font-size: 16px;
    margin-right: 0;
  }

  .method {
    flex-direction: column;
    padding: 8.33333%;
  }

  .method h3 {
    font-size: 20px;
    margin-top: 40px;
  }

  .numberof {
    font-size: 32px;
  }

  .recipe-detail {
    font-size: 15px;
  }
}
