@import "./config";

.newsletter{
    height: 340px;
    background-color: $black;
    padding-bottom: 130px;

    &-content {
        @extend .container;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }
    &-subsribe{
        background-color: $black;
    }
    &-email{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        
    }

    &-email > label {
        font-size: 14px;
    }

    &-field {
        border-bottom: 1px solid $charcoal;
        color: white;
        font-size: 22px;
        font-family: 'Playfair Display';
        padding: 5px 0;
    }

    &-field::placeholder {
        color: $charcoal;
    }

    &-field:focus {
        border-bottom: 1px solid $gold;
    }
}