@import './config';

.recipe-list {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

.recipe {
    width: calc(33.333333% - 20px);

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
}

.recipe-image {
    max-width: 100%;
}

.recipe-footer {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 25px;
}

.recipe-month {
    flex: 0 100%;
}

.recipe-title {
    font-size: 22px;
    flex: 1;
}

.see-more {
    @extend .container;

    height: 30px;
    border-bottom: 1px solid $light-grey;
    padding-top: 10px;
    display: flex;
    justify-content: center;

    margin-bottom: 40px;

    .content {
        padding: 0 40px;
        background-color: white;
    }
}

.recipe-month {
    font-weight: 300;
    color: $grey;
    font-size: 14px;
}

.recipe-section {
    @include background-stripe($grey-bg, 30%, 0%);
}