@import './config';

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}

.recipe {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.333333% - 20px);
}

.recipe-all {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.recipe-select {
  font-family: 'Playfair Display', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.video-check {
  height: 18px;
  width: 18px;
}

.recipe-image {
  // height: 290px;
  margin-bottom: -7px;
  width: 100%;
}

.recipe-footer {
  align-items: baseline;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.recipe-month {
  color: $grey;
  flex: 0 100%;
  font-size: 14px;
  font-weight: 300;
}

.recipe-title {
  flex: 1;
  font-size: 22px;
}

.see-more {
  @extend .container;

  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    background-color: $light-grey;
    content: '';
    height: 1px;
    margin-bottom: 40px;
    width: 100%;
  }

  &::after {
    background-color: $light-grey;
    content: '';
    height: 1px;
    margin-bottom: 40px;
    width: 100%;
  }

  .content {
    margin-bottom: 40px;
    padding: 0 40px;
    white-space: nowrap;
  }
}

.video-container {
  cursor: pointer;
  position: relative;

  &:hover::after {
    background:
      url('img/play-icon.svg') no-repeat center,
      rgba(227, 205, 177, 0.7);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.recipe-section {
  @include background-stripe($grey-bg, 30%, 0%);
}

@media (max-width: 599px) {
  .recipe {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 20px);
  }
}
