@import './config';

.hero-video {
  background-color: $black;
  background-image:
    linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000 65%),
    url('img/ingredients.png');
  color: $white-95;
  min-height: initial;

  h1 {
    color: $white;
  }
}

.video-text {
  color: $grey;
}

.vid {
  height: 500px;
}
